@import "assets/css/variables";

.networks-main {
  height: 100%;
  max-width: 1500px;
  margin: auto;
}
.networks-body {
  height: 100%;
  display: flex;
  flex-direction: column;
  .networks-header {
    width: 100%;
    padding: 5px;
    .ant-col {
      .nav-item {
        margin: 20px;
        margin-left: 0px;
        margin-bottom: 0px;
      }
    }
  }
  .networks-content {
    min-height: 80vh;
    padding: 5px;
  }
}

// General
.general-main,
.revenue-main {
  background: $header-background;
  width: 100%;
  opacity: 0.9;
  margin: 10px;
  margin-top: 0px;
  padding: 20px;
  height: 100%;
  border-radius: 7px;
}
.revenue-header {
  padding: 10px;
  display: flex;
  button.revenue-option {
    background: $btn-background-confirm;
    padding: 5px 40px;
    margin-right: 20px;
    border: 1px solid #efefef;
  }
}

.networks-commission {
  margin: 10px !important;
  padding: 10px;
  background: none !important;
  border: 1px solid #efefef !important;
  border-radius: 5px;
  .ant-card-head {
    color: white !important;
  }
  .ant-card-body {
    border-top: 1px solid #efefef !important;
  }
}

@media only screen and (max-width: 768px) {
  .networks-header .ant-col {
    .nav-item {
      margin: 5px 0px !important;
    }
  }
  .box-btn {
    margin: 0px !important;
  }
  .general-main,
  .revenue-main {
    margin: 0px;
  }
  .revenue-header {
    flex-direction: column;
    button.revenue-option {
      margin-right: 0px;
      margin-bottom: 5px;
    }
  }
}
