
.modal-earn-now{
    display: flex;
    width: 100%;
    .ant-form {
        display: flex !important;
        flex-direction: column;
        width: 100%;
        label{
            width: 100% !important;
            color: white !important;
            font-size: 14px;
            padding: 10px;
            padding-left: 0px;
        }
    }
}

.ant-input-number{
    width: 100% !important;
}