$base-font: "Titillium Web", sans-serif;

$aside-menu-background: #601e1e;
$aside-menu-color: #a90d2398;

$text-primary-color: #5b337e;
$success-color: #52c41a;

$header-background: #001529;
$btn-background-confirm: #632897;
$sidebar-desktop-background: linear-gradient(45, #791871 0%, #ac50a2 100%);

$header-menu-color: #f9354c;

$modal-background: linear-gradient(180deg, #8a207a 0%, #a70b97 100%);
$modal-background-color: #001529;
$modal-background-header-color: #F36C03;
$modal-boder: #efefef;
$modal-close-x: #fff;

$gradient-ping-color: rgba(211, 25, 112, 0.5);
$gradient-violet-color: rgba(192, 69, 165, 0.5);
$gradient-btn-ping-color:rgba(177, 18, 92, 0.5);
$gradient-btn-violet-color: rgba(0, 0, 0, 0.5);
$main-color: #fff;
$main-hover-color: #fff;

$main-bg-card: rgba(158, 26, 45, 0.7);
$main-bg-page: rgba(29, 5, 10, 0.5);
$main-bg-input: rgba(210, 36, 61, 0.5);

$main-radius-card: 6px;

$wallet-border: #efefef;
$wallet-background: #9f2c4330;

$report-boder: #efefef;

$main-white: #fff;

$table-bordered-color: #7c5e65;

$btn-gradient: linear-gradient(180deg, #ad53a6 0%, #775874 100%);
$bg-gradient: rgb(85, 36, 81)
  linear-gradient(
    90deg,
    rgba(85, 36, 81, 1) 32%,
    rgba(128, 51, 104, 1) 52%,
    rgba(106, 43, 93, 1) 63%,
    rgba(82, 35, 80, 1) 77%
  );

$background-modal: #00000030;

$main-purple: #650100; //text
